#header{
    background-color: #3f51b5;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    border-radius: 25px;
}
#container{
    background-color: white;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
#content{
    padding-top: 10px;
    padding-left: 0;
}
#nav{
    width: 250px;
    float: left;
}
#main{
    width: 460px;
    float: right;
}
